{{!-- HBS is template engine for handlebars, handlebars is not compatible with express but HBS is --}}
{{!-- HBS is just HTML with additional features for rendering content dynamically --}}
{{!-- index.hbs will replace index.html once views has been set via express.set --}}
{{!-- HBS allows us to reuse markup and render content dynamically through partials --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timestamp Microservice</title>
</head>
<body>
  <header>
    <h1>Timestamp Microservice</h1>
  </header>
</body>
</html>